.profile_description
{
	background: #DBE9DF;
	border-radius: 50px;
	padding-top: 2%;
	padding-bottom: 2%;
	border-style: solid;
	font-family: 'Kaushan Script';
	margin-bottom: 1%;
}

.note_board
{
	background-image: url("/images/note.png");
	background-size: 100% 100%;
	padding: 10%;
	font-family: 'Kalam';

}

.profile_picture_div
{
	background-image: url("/images/zdjecie.jpg");
	background-size: 66% 55%;
	background-repeat: no-repeat;
	background-position: center;
}

.profile_picture
{
	padding-top: 5%;
	padding-bottom: 5%;
	padding-left: 5%;
	padding-right: 5%;
}

.contact
{
	margin-top: 25%;
	font-family: 'Kalam';
}
/* ostylowanie ofert/opinii */
.tabs_css > li
{
	border-style: solid;
	border-radius: 20px;
	font-weight: bold;
}

.tabs_css > li > a:link{
  color: black;
  background-color: #C5D1C8;
}

.tabs_css > li > a:hover{
  background-color: white;
  	border-style: solid;
    border-radius: 20px;
    color: black;
}

.tabs_css > li > a{
  border-style: solid;
  border-radius: 20px !important;

}

.tab-content{
	border-radius: 20px;
    background-color:white;
    border-style: solid;
    border-radius: 20px;
    padding:5px
}

.opinion
{
	border-style: solid;
	border-radius: 20px;
	padding:2%;
}